@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  font-family: Arial, Helvetica, sans-serif;

  --highlight: oklch(0.5 0.05 264);
  --background-light: oklch(0.985 0 0);
  --gradient-hover: linear-gradient(0deg, var(--background), var(--background-light));

  --danger: oklch(0.7 0.05 30);
  --warning: oklch(0.7 0.05 100);
  --success: oklch(0.7 0.05 160);
  --info: oklch(0.7 0.05 260);
  
  --background: oklch(0.97 0 0);
  --card: oklch(0.97 0 0);
  --popover: oklch(0.97 0 0);
  --sidebar: oklch(0.97 0 0);
  --foreground: oklch(0.213 0 0);
  --card-foreground: oklch(0.213 0 0);
  --popover-foreground: oklch(0.213 0 0);
  --sidebar-foreground: oklch(0.213 0 0);
  --primary: oklch(0.413 0.216 263);
  --sidebar-primary: oklch(0.413 0.216 263);
  --primary-foreground: oklch(0.961 0 0);
  --sidebar-primary-foreground: oklch(0.961 0 0);
  --secondary: oklch(0.876 0.013 271);
  --accent: oklch(0.876 0.013 271);
  --sidebar-accent: oklch(0.876 0.013 271);
  --secondary-foreground: oklch(0.218 0 0);
  --accent-foreground: oklch(0.218 0 0);
  --sidebar-accent-foreground: oklch(0.218 0 0);
  --muted: oklch(0.863 0.009 265);
  --muted-foreground: oklch(0.58 0.027 270);
  --destructive: oklch(0.588 0.234 29);
  --destructive-foreground: oklch(0.961 0 0);
  --border: oklch(0.765 0.054 268);
  --sidebar-border: oklch(0.765 0.054 268);
  --ring: oklch(0.697 0.105 268);
  --sidebar-ring: oklch(0.697 0.105 268);
  --input: oklch(0.767 0.048 268);
  --chart-1: oklch(0.413 0.216 263);
  --chart-2: oklch(0.415 0.176 261);
  --chart-3: oklch(0.328 0.195 266);
  --chart-4: oklch(0.43 0.119 251);
  --chart-5: oklch(0.357 0.152 264);
  --radius: 0.5rem;
}

.dark {
  --highlight: oklch(98.753% 0.01782 197.217 / 0.248);
  --background-light: oklch(0.187 0.008 274);

  --danger: oklch(0.5 0.05 30);
  --warning: oklch(0.5 0.05 100);
  --success: oklch(0.5 0.05 160);
  --info: oklch(0.5 0.05 260);

  --background: oklch(0.248 0.018 266);
  --card: oklch(0.248 0.018 266);
  --popover: oklch(0.248 0.018 266);
  --sidebar: oklch(0.248 0.018 266);
  --foreground: oklch(0.961 0 0);
  --card-foreground: oklch(0.961 0 0);
  --popover-foreground: oklch(0.961 0 0);
  --sidebar-foreground: oklch(0.961 0 0);
  --primary: oklch(0.612 0.209 265);
  --sidebar-primary: oklch(0.612 0.209 265);
  --primary-foreground: oklch(0.961 0 0);
  --sidebar-primary-foreground: oklch(0.961 0 0);
  --secondary: oklch(0.307 0.056 269);
  --accent: oklch(0.307 0.056 269);
  --sidebar-accent: oklch(0.307 0.056 269);
  --secondary-foreground: oklch(0.961 0 0);
  --accent-foreground: oklch(0.961 0 0);
  --sidebar-accent-foreground: oklch(0.961 0 0);
  --muted: oklch(0.363 0.043 270);
  --muted-foreground: oklch(0.667 0.025 269);
  --destructive: oklch(0.616 0.225 27);
  --destructive-foreground: oklch(0.961 0 0);
  --border: oklch(0.313 0.067 267);
  --sidebar-border: oklch(0.313 0.067 267);
  --ring: oklch(0.343 0.126 264);
  --sidebar-ring: oklch(0.343 0.126 264);
  --input: oklch(0.318 0.06 266);
  --chart-1: oklch(0.612 0.209 265);
  --chart-2: oklch(0.67 0.168 261);
  --chart-3: oklch(0.628 0.187 274);
  --chart-4: oklch(0.773 0.105 246);
  --chart-5: oklch(0.742 0.111 267);
}


body {
  margin: 0;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}