:root {
  font-family: Arial, Helvetica, sans-serif;

  --dark-1: #6F6F6F;
  --dark-2: #535353;
  --dark-3: #383838;
  --dark-4: #1C1C1C;
  --dark-5: #0C0D0C;
  --light-1: #F2F2F2;
  --light-2: #EAEAEB;
  --light-3: #E2E2E3;
  --light-4: #DADBDA;
  --light-5: #D5D4D5;
  --primary: #00205B;
  --accent: #DC2436;
}